@(generateNamesForm: Form[models.NameGeneratorParameters], generatedNames: List[String])

@import helper._

@main("Inominax - name generator") {

   <h2>Names generation parameters</h2>

   @form(action = routes.Inominax.generateNames, args = 'class -> "namesForm", 'id -> "generateNamesForm") {

      @inputText(
         field = generateNamesForm("numberOfNamesToGenerate"),
         '_label -> "number of names",
         'id -> "numberOfNamesToGenerateInput",
         '_error -> generateNamesForm("numberOfNamesToGenerate").error.map(_.withMessage("Choose a valid number"))
      )

      @select(
         field = generateNamesForm("tokenCollection"),
         options = options(TokenCollection.list()),
         args = '_label -> "Choose tokens collection"
      )

      <div id="generateNamesButtonDiv">
      &nbsp;
         <input type="submit" value="Generate" id="generateNamesButton">
      </div>
   }

   <div id="generatedNames" class="generatedNames"></div>

   <h2>Collections of list names</h2>

   <div class="namesForm">
      <dl class=" " id="nameCollectionSelect_field">
         <dt><label for="nameCollectionSelect">Choose name collection</label></dt>
         <dd>
            <select id="nameCollectionSelect" name="nameCollectionSelect">
            @for(nameCollectionName <- Inominax.nameCollectionsNamesOptions) {
               <option value="@nameCollectionName">@nameCollectionName</option>
            }
            </select>
         </dd>
         <dd>
            <input type="button" value="new name collection" id="newNameCollection">
         </dd>
      </dl>
   </div>

   <div id="nameCollection" class="nameCollection"></div>

}

