@(generateNamesForm: Form[models.NameGeneratorParameters], generatedNames: List[String])

@import helper._

@main("Inominax - name generator") {

   <h2>Lists of names</h2>

   <div class="inominaxForm">
      <div>
         <label for="nameCollectionSelect">Choose list of names</label>
         <select id="nameCollectionSelect" name="nameCollectionSelect">
         @for(nameCollectionName <- Names.nameCollectionsNames) {
            <option value="@nameCollectionName">@nameCollectionName</option>
         }
         </select>
         <input type="button" value="new list"  title="create a new list of names" id="newNameCollection">
      </div>
      <div class=" " id="newName_field">
         <label for="newName">Add a new name</label>
         <input type="text" value="" id="newName">
         <input type="button" value="add" id="addName">
      </div>
   </div>

   <div id="nameCollection" class="nameCollection"></div>

   <h2>Names generation parameters</h2>

   @form(action = routes.Inominax.generateNames, args = 'class -> "inominaxForm", 'id -> "generateNamesForm") {

      <div>
         <label for="numberOfNamesToGenerateInput">Number of names</label>
         <input type="text" id="numberOfNamesToGenerateInput" name="numberOfNamesToGenerate" value="20">
      </div>

      <div>
         <label for="tokenCollectionName">Choose list of tokens</label>
         <select id="tokenCollectionName" name="tokenCollectionName">
         @for(tokenCollectionName <- Tokens.tokenCollectionsNames) {
            <option value="@tokenCollectionName">@tokenCollectionName</option>
         }
         </select>
      </div>

      <div id="generateNamesButtonDiv">
         <input type="submit" value="Generate names" id="generateNamesButton">
      </div>
   }

   <div id="generatedNames"></div>

}

