@import helper._

@main("Inominax - manage lists of names") {

   <h2>Manage list of names</h2>

   <div class="inominaxForm">
      <div>
         <label for="nameCollectionSelect">Choose list of names</label>
         <select id="nameCollectionSelect" name="nameCollectionSelect">
         @for(nameCollectionName <- Names.nameCollectionsNames) {
            <option value="@nameCollectionName">@nameCollectionName</option>
         }
         </select>
         <input type="button" value="create" id="newNameCollection" title="create a new list of names">
         <input type="button" value="delete" id="deleteNameCollection" title="delete selected list of names">
         <input type="button" value="rename" id="renameNameCollection" title="Rename selected list of names">
      </div>
      <div class=" " id="newName_field">
         <label for="newName">Add a new name</label>
         <input type="text" value="" id="newName">
         <input type="button" value="add" id="addName">
      </div>
   </div>

   <div id="nameCollection" class="nameCollection"></div>
}

