@import helper._

@main("Inominax - manage token collections") {

   <h2>Manage list of tokens</h2>

   <div class="inominaxForm">
      <div>
         <label for="tokenCollectionSelect">Choose list of tokens</label>
         <select id="tokenCollectionSelect" token="tokenCollectionSelect">
         @for(tokenCollectionName <- Tokens.tokenCollectionsNames) {
            <option value="@tokenCollectionName">@tokenCollectionName</option>
         }
         </select>
         <input type="button" value="create" id="newTokenCollection" title="create a new list of tokens">
         <input type="button" value="delete" id="deleteTokenCollection" title="delete selected list of tokens">
      </div>
   </div>

   <div id="tokenCollection" class="tokenCollection"></div>

   <div class="inominaxForm">
      <div class=" " id="newToken_field">
         <label for="newToken">Add a new token</label>
         <input type="text" value="" id="newToken">
         <input type="button" value="add" id="addToken">
      </div>
   </div>

}

